src/client/AM.PA.MonitoringTool/PersonalAnalytics/Service References/FileUploadServiceReference/FileUploader2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pluto.ifi.uzh.ch/HostedServices/FileUploader.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FileUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="userID" nillable="true" type="xs:string" />
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DurationOfUpload" type="xs:long" />
  <xs:element name="FilePath" nillable="true" type="xs:string" />
  <xs:element name="Length" type="xs:int" />
  <xs:element name="Success" type="xs:boolean" />
</xs:schema>