src/client/AM.PA.MonitoringTool/PersonalAnalytics/Service References/FileUploadServiceReference/FileUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileUploader" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://pluto.ifi.uzh.ch/HostedServices/FileUploader.svc?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://pluto.ifi.uzh.ch/HostedServices/FileUploader.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://pluto.ifi.uzh.ch/HostedServices/FileUploader.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="userID" element="tns:userID" />
  </wsdl:message>
  <wsdl:message name="UploadResponse">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="UploadResponse_Headers">
    <wsdl:part name="DurationOfUpload" element="tns:DurationOfUpload" />
    <wsdl:part name="FilePath" element="tns:FilePath" />
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="Success" element="tns:Success" />
  </wsdl:message>
  <wsdl:portType name="IFileUploader">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUploader/Upload" name="FileUploadMessage" message="tns:FileUploadMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUploader/UploadResponse" name="UploadResponse" message="tns:UploadResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileUploader" type="tns:IFileUploader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IFileUploader/Upload" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="userID" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UploadResponse">
        <soap:header message="tns:UploadResponse_Headers" part="DurationOfUpload" use="literal" />
        <soap:header message="tns:UploadResponse_Headers" part="FilePath" use="literal" />
        <soap:header message="tns:UploadResponse_Headers" part="Length" use="literal" />
        <soap:header message="tns:UploadResponse_Headers" part="Success" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUploader">
    <wsdl:port name="BasicHttpBinding_IFileUploader" binding="tns:BasicHttpBinding_IFileUploader">
      <soap:address location="http://pluto.ifi.uzh.ch/HostedServices/FileUploader.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>